body {
  font-family: sans-serif;
  margin: auto;
  /*max-width: 1280px;*/
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  /*max-width: 800px;*/
  	width: 100%;
 	height: 44px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

p {
	text-align: center;
	font-size: 30px;
	
	color: black;
}

img {
	margin: 0 auto;
}


.testDiv {
	background-color:#e5eecc;
	text-align: center;
	/*padding: 5px;*/
	border: solid 1px #c3c3c3;
	/*font: 14px ,white;*/
	position: absolute;
	width: 100px;
	height: 100px;
	/*margin: 0 auto;*/
}


.centerDiv {
	text-align: center;
}
