
body {
	background: #EEE;
}

#wrapper {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 200px;
	height: 120px;	
	margin-top: -60px;
	margin-left: -100px;
	/*background: red;*/
	opacity: 1;
	z-index: 20000;
}


#weibo {
	position: absolute;
	top: 20%;
	/*background: #EEE;*/
	/*color: cadetblue;
	border-color: red;*/
	right: 0px;
}


.temp {
    position: absolute;
    z-index: -1;
    color: #777;
}

#start-btn {
	 width: 32px; height: 32px;
    /*background: url('eat_sprites.png') -62px -10px;	border: none;*/
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


.bg-eat_start {
    width: 32px; height: 32px;
    background: url('eat_sprites.png') -62px -10px; border: none;
}

.bg-eat_stop {
    width: 32px; height: 32px;
    background: url('eat_sprites.png') -10px -10px; border: none;
    
}